/* Estilos para o corpo da página */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilos para o cabeçalho */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
}

.navbar-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar-menu li {
    display: inline;
    margin-right: 20px;
}

.navbar-menu li a {
    color: #fff;
    text-decoration: none;
}

/* Estilos para os títulos */
h1, h2 {
    color: #333;
}

/* Estilos para o rodapé */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
}

.footer-info h4 {
    margin-top: 0;
}

.footer-info p {
    margin: 5px 0;
}

.footer-social ul {
    list-style-type: none;
    padding: 0;
}

.footer-social ul li {
    display: inline;
    margin-right: 10px;
}

.footer-social ul li a {
    color: #fff;
    text-decoration: none;
}
